*{
    margin: 0;
    padding:0;
}

body{
    background: url(img/AAA022.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.ba{

    width: 100%;
    height: 20%;
    background-color: bisque;
    position: relative;
    top: 0;
}
.perfil {
    position: relative;
}
.perfil img{
    height: 300px;
    border-radius: 160px;
    margin: 30px;
}
.perfil p{
    width: 30%;
    position: absolute;
    top: 30px;
    left: 23%;
    margin: 20px;
    background-color: rgba(247, 245, 243, 0.719);
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}
.proyectos{
    position: relative;
    margin-bottom: 200px;
}

.proyectos h1{
    font-family: 'Mansalva', cursive;
    color:rgb(68, 67, 67);
    position: absolute;
    left: 23%;
    list-style: none;
    background: rgba(247, 245, 243, 0.719);
    border-radius: 30px;
}
.proyectos img{
    position: absolute;
    right:50px;
    border-radius: 160px;
    filter:invert(10);
}
.proyectos ul{
    position: absolute;
    left: 23%;
    top:60px;
    list-style:armenian;
    background-color: rgba(247, 245, 243, 0.719);
    padding: 9px;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.proyectos ul li a{
    text-decoration: none;
    color: rgb(29, 28, 28);
}
.botones{
    position: relative;
    left: 20%;
    width:80%;
}
.botones img{
    border-radius:160px;
}
.botones button{
    border-radius: 160px;
    margin:5%;
}
.titulo{
    font-family: 'Mansalva', cursive;
    color: rgb(68, 67, 67);
    font-size: 25px;
    margin-bottom: 9px;
}
.galeria{
    width: 100%;
    position: static;
}
.galeria img{
    width:20%;
    border-radius: 160px;
    margin:1%;
    margin-left: 3%;
    filter: blur(0.5px)
}
.galeria h1{
    text-align: center;
    font-family: 'Mansalva', cursive;
    color:rgb(68, 67, 67);
}
.galeria img:hover{
    filter: blur(0px);
    filter: hue-rotate(35deg);
}
.footer{
    background: black;
    width:100%;
    position: relative;
    padding-bottom: 30px;
}
.footer ul li a{
    display: block;
    text-decoration: none;
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1%;
}
.footer img{
    width:2.3%;
    margin-left: 10%;
    margin-top: 1%;
}
.footer p{
    position: absolute;
    top: 45px;
    right: 25px;
    color: floralwhite;
    font-family: 'Mansalva', cursive;
    font-size: 150%;
}
.logo img{
    position: absolute;
    top: 85px;
    right:7%;
    width:8%;
    filter: invert(100%);

}